button[flavor^="simple"]
    font-size: 2rem;
    border-radius: .8rem;
    padding: 1rem 2rem;
    background: #f0f0f0;
    border: 1px solid;
    &:active 
        background: darken(#f0f0f0, 10%)

button[flavor="simple-bigger"] 
    width: 25rem;
    height: 5rem;